mat-card {
 max-width: 80%;
 margin:2em auto;
 text-align: center;
}

mat-toolbar{
margin-bottom: 15px;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.mdc-card__actions{
  display: block;
}

button{
margin:0 5px;
}
